.carrito {
    
    height: auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px;
    margin: auto;
}
table{
    margin-top: 35px;
}
tbody {
    border-bottom: 1px solid rgb(39, 39, 39);

}

.valores {
    margin-top: 25px;
}

#iconify-del {
    height: 30px;
    width: 30px;
    list-style: none;
    color: white;
    justify-content:center;
    align-items: center;
    padding-right: 5px;
    padding-top: 5px;
    z-index: 3;
}


.datos {
    height: 200px;
}


.delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

form {
    background-color: rgb(194, 193, 193);
    margin-top: 45px;
    padding: 20px;
    display: flex;
    flex-direction:column;
   
}

form input {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.button-cart {
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 60px;
}

.delete-todo {
    width: 500px;
}

.orrrden {
    color: rgb(255, 145, 0);
}

#icon-delete {
    height: auto;
    width: auto;
    list-style: none;
    color: rgb(0, 0, 0) !important ;
    padding-right: 25px;
}

.button-buy {
    align-items: center;
    width: auto;
    height: 75px;
}

h4 {
    font-weight: 600;
}

.loguito {
    display: inline-block;
    margin: 0 0.5rem;
    animation: animate__pulse;
    animation-duration: 2s;
}