#div-icon-cart {
    color: aliceblue;
    padding-left: 18px;
    padding-top: 8px;
    flex-direction: row;
    align-content: center;
    margin-left: auto;
    position: absolute;
}

#iconify-cart {
    height: 30px;
    width: 30px;
    list-style: none;
    color: white;
    justify-content:center;
    align-items: center;
    position: absolute;
    z-index: 3; top: -10px; left: 28px;
}

.numerito {
    color: black;
    font-weight: 600 !important;
    justify-content:center;
    align-items: center;
    position: absolute;
    z-index: 2; right: 8px; top: 1px;

}

.num {
    background-color: rgb(255, 175, 71);
    height: 25px;
    width: 25px;
    margin: auto;
    padding-top: 8px;
    border-radius: 100%;
    justify-content:center;
    align-items: center;
    position: absolute;
    z-index: 1; top: -26px;
}

.precio-widget {
    font-size: 16px;
    color: rgb(255, 175, 71);
    padding-top: 12px;
    padding-right: 15px;
}