h1 {
    font-family: Almendra;
    font-style: oblique;
    text-align: center;
    padding-top: 18px;
}

#container {
    height: 300px;
    width: 900px;
    background-color: rgb(248, 214, 151);
    margin-left: auto;
}