

.btn-dark {
    width: 80px;

}

#carAnimate {
    
    animation: clickeado 1s  linear;
    animation-iteration-count: 3; /* dps borrar */
    
}


/* animacion  para cuando se clickee agregar */
@keyframes clickeado {
    15% {
      transform: translate(20%, 0);

    }

    30% {
        transform: translate(80%, 0);
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-45deg);
        transform: translate(100%, 0);
    }

  }